@mixin imageCenter() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin underline() {
  height: 0.1vw;
  width: 100%;
  background-color: #fff;
}

@mixin project-div($h, $ih) {
  width: 100%;
  position: relative;
  height: $h;

  h3 {
    font-size: 3vw;
    font-weight: 1;
    text-transform: uppercase;
    margin-bottom: 2.5vw;
  }

  .image-holder {
    width: 100%;
    height: $ih;
    position: relative;
    overflow: hidden;

    img {
      // display: none;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .detail {
    display: flex;
    justify-content: space-between;
    margin: 2.2vw 0;

    h5 {
      font-size: 1.1vw;
      line-height: 1;
    }

    .desc-text {
      width: 50%;
    }
  }

  .line {
    @include underline();
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@mixin arrow($h) {
  height: $h;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .svg-circle {
    height: 23.6vw;
    aspect-ratio: 1/1;
    position: relative;
    border: 0.1vw solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    svg {
      height: 7.65vw;
      aspect-ratio: 1/1;
    }
  }
}

@font-face {
  font-family: plain-light;
  src: url(./fonts/plain-light-webfont.woff);
}

@font-face {
  font-family: plain-regular;
  src: url(./fonts/plain-regular-webfont.woff);
}

@font-face {
  font-family: silk-light;
  src: url(./fonts/silkserif-lightitalic-webfont.woff);
}

@font-face {
  font-family: silk-regular;
  src: url(./fonts/silkserif-regularitalic-webfont.woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: plain-light;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #151515;
  // background-color: blue;
}

body {
  cursor: none;
}
.main {
  width: 100%;
  position: relative;
}

._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #0b0b0b;
  padding-top: 12.5vw;
  padding-left: 6vw;
  position: fixed;
  z-index: 9999999;
  // display: none !important;
  cursor: none;

  .text-line {
    display: flex;
    align-items: center;
    gap: 2vw;
    overflow: hidden;

    .loading-counter {
      width: fit-content;
      display: flex;
      height: fit-content;
      align-items: first baseline;
      height: fit-content;
      margin-left: 3.7vw;
      margin-right: 4vw;
      margin-bottom: 2.2vw;
      gap: 2vw;
      opacity: 1;

      h4,
      h5 {
        font-family: silk-regular;
        font-size: 2.7vw;
        line-height: 1;
      }

      h4 {
        width: 3.3vw;
        text-align: right;
      }
    }

    h1 {
      font-size: 7.5vw;
      line-height: 1;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.1vw;
    }
  }

  h6 {
    font-size: 1vw;
    font-family: plain-light;
    position: absolute;
    left: 29%;
    top: 70%;
    opacity: 0;
  }
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.c-crsr {
  height: 2.3vw;
  width: 2.3vw;
  border-radius: 50%;
  background-color: transparent;
  border: 0.17vw solid rgb(206, 206, 206);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: difference;
}

#behindmouse {
  height: 2.3vw;
  width: 2.3vw;
  border-radius: 50%;
  background-color: transparent;
  border: 0.17vw solid rgba(206, 206, 206, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

.page1 {
  min-height: 55vw;
  width: 100%;
  background-color: #151515;
  // background-color: red;
  // display: none !important;

  nav {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 0 5.5vw;
    padding-top: 3.8vw;
    justify-content: space-between;

    .nav-left {
      display: flex;
      align-items: center;
      gap: 2.5vw;
      height: fit-content;
      position: fixed;
    }

    .nav-right {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 22.5vw;

      h4 {
        font-size: 1.05vw;
        line-height: 1;
      }

      .nav2 {
        display: flex;
        gap: 2.6vw;
      }
    }
  }

  .line {
    // background-color: red;
    width: 72%;
    padding-left: 27vw;
    // overflow: hidden;
    position: relative;

    &:nth-child(2) {
      margin-top: 18vh;

      &::before {
        content: "01";
        font-family: silk-light;
        position: absolute;
        font-size: 3vw;
        line-height: 1;
        top: 0.9vw;
        left: 19.1vw;
      }
    }

    &:nth-child(4) {
      display: flex;
      width: 100%;
    }

    h1 {
      font-size: 7.52vw;
      line-height: 1;
      text-transform: uppercase;

      span {
        // pointer: default;
        &::after {
          content: "";
          position: absolute;
          bottom: 0%;
          height: 0.6vw;
          left: 0;
          background-color: #fff;
          width: 14.5vw;
        }

        &:hover {
          -webkit-text-stroke: 0.1vw #fff;
          color: transparent;
          font-weight: 100;
        }
        &:hover::after {
          opacity: 0;
        }
      }

      .web {
        &::after {
          left: 27vw;
          width: 15.5vw;
        }
      }

      .grpc {
        &::after {
          left: 44.5vw;
          width: 34.8vw;
        }
      }
    }
  }

  #flagLine {
    height: 8.4vw;
    // background-color: red;
  }

  #lastLine {
    overflow: hidden;
  }

  .img-flag {
    height: 25vw;
    position: absolute;
    top: 0;
    left: -8%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
  }
}

.page1-extension {
  min-height: 90vh;
  width: 100%;
  padding-top: 0.1px;
  background-color: transparent;
  position: relative;
  padding-left: 27.8vw;
  // display: none !important;

  .video-container {
    @include imageCenter();
    background-image: url(./imgs/Showreel-2022-preview-1.jpg);
    width: 72.2vw;
    height: 34.3vw;
    margin-top: 7.5vw;
    position: relative;
    // cursor: none;

    .play-btn {
      background-color: #ffa63d;
      height: 11vw;
      width: 11vw;
      position: absolute;
      left: 65%;
      top: -15%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 3vw;
      }
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0;
    }
  }
}

.page2 {
  min-height: 100vh;
  width: 100%;
  padding: 0 5.5vw;
  // display: none !important;

  .top {
    padding-left: 27.8vw;
    padding-top: 5.8vw;
    position: relative;

    h1 {
      font-size: 7.52vw;
      line-height: 1;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "02";
        font-family: silk-light;
        position: absolute;
        font-size: 3vw;
        line-height: 1;
        top: 10%;
        left: -13.2%;
      }
    }

    .underline {
      @include underline();
      margin: 6.2vw 0;
    }
  }

  .project-showcase {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    gap: 2vw;
    grid-template-areas:
      "ig1 ig2 sv1"
      "sv2 ig3 ig4"
      "ig5 sv3 ig6";

    .project {
      position: relative;
    }

    #ig1,
    #ig5 {
      @include project-div(43vw, 30vw);
      width: 23vw;
    }

    #ig2,
    #ig3,
    #ig4,
    #ig6 {
      @include project-div(43vw, 37vw);
      width: 30.5vw;
      height: 50vw;
    }

    .svg-holder {
      padding-top: 4vw;
      @include arrow(39vw);

      .cin {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;

        p {
          color: #000;
          font-weight: 600;
        }
      }

      .svg-circle:hover .cin {
        transform: translate(-50%, -50%) scale(1);
        transition: 0.5s ease;
      }
    }

    #ig1 {
      grid-area: ig1;
    }

    #ig2 {
      grid-area: ig2;
    }

    #ig3 {
      grid-area: ig3;
      margin-top: 7vw;
    }

    #ig4 {
      grid-area: ig4;
    }

    #ig5 {
      grid-area: ig5;
      margin-top: -5vw;
    }

    #ig6 {
      grid-area: ig6;
      margin-top: 5vw;
    }

    #sv1 {
      grid-area: sv1;
      padding-top: 27vw;
    }

    #sv2 {
      grid-area: sv2;
      svg {
        transform: rotate(-40deg);
      }
    }

    #sv3 {
      grid-area: sv3;
      padding-top: 31vw;
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  .wrap-circle {
    min-height: 60vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8vw;

    .w-circle {
      height: 23.6vw;
      aspect-ratio: 1/1;
      background-color: #ffa63d;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      h6 {
        font-size: 1.1vw;
        font-family: plain-regular;

        span {
          font-family: silk-light;
        }
      }

      &:hover {
        transform: scale(0.85);
        transition: all 0.3s ease;
      }
    }
  }
}

.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding-bottom: 30vw;
  // display: none !important;

  .top {
    padding-left: 27.8vw;
    padding-top: 5.8vw;
    padding-right: 5.5vw;
    position: relative;

    h1 {
      font-size: 7.52vw;
      line-height: 1;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "03";
        font-family: silk-light;
        position: absolute;
        font-size: 3vw;
        line-height: 1;
        top: 10%;
        left: -13.2%;
      }
    }

    .underline-1 {
      @include underline();
      margin-top: 6.2vw;
    }

    p {
      font-size: 2.4vw;
      line-height: 2.8vw;
      width: 60%;
      margin: 4.5vw 0;
    }

    .photo-holder {
      display: flex;
      gap: 2vw;

      .pic {
        width: 49%;
        height: 40vw;
        background-image: url(./imgs/photo-holder.jpg);
        @include imageCenter();
      }

      p {
        font-size: 1vw;
        z-index: 9999;
        line-height: 1.2vw;
        width: 27%;
        margin-top: 0vw;
        text-align: start;
      }
    }

    .blue-div {
      height: 47vw;
      width: 32.5vw;
      position: relative;
      background-color: #3f7df4;
      left: 23vw;
      top: -15.5vw;
      z-index: 99999;
      padding: 3.7vw;
      padding-bottom: 4.2vw;

      .positions {
        display: flex;
        justify-content: space-between;

        h4 {
          font-size: 1.6vw;
          font-weight: 100;
          width: 50%;
          margin: 2.7vw 0;
        }

        p {
          font-size: 1.1vw;
          line-height: 1;
          margin: 0;
          width: 40%;
          margin-top: 3.5vw;
        }

        border-bottom: 0.1vw solid #fff;
      }
    }

    .underline-2 {
      @include underline();
      margin: 0;
      margin-top: -4vw;
    }

    .work-text {
      font-size: 1vw;
      margin-top: 1vw;
      font-weight: 600;
    }
  }

  .marquee {
    width: 100%;
    pointer-events: none;

    .elem {
      display: flex;
      white-space: nowrap;
      overflow-x: auto;
      height: 10vw;

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      h2 {
        font-size: 8vw;
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 200;
        -webkit-text-stroke: 0.1vw white;
        color: transparent;
        animation: marqueeAnimation 25s linear infinite;

        span {
          -webkit-text-stroke: 0.1vw white;
          color: transparent;
          display: inline;
          font-family: silk-light;
        }
      }
    }

    .l2r {
      h2 {
        animation-direction: reverse;
        transform: translateX(-100%);
      }
    }

    @keyframes marqueeAnimation {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
}

.page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding-bottom: 7vw;
  // display: none !important;

  .aligned-box {
    padding-left: 27.8vw;
    padding-top: 5.8vw;
    padding-right: 5.5vw;
    position: relative;

    .heading {
      display: flex;
      align-items: center;

      &::before {
        content: "04";
        font-family: silk-light;
        position: absolute;
        font-size: 3vw;
        line-height: 1;
        top: 12.8%;
        left: 18.3%;
        z-index: 9999;
        color: white;
      }

      h1 {
        font-size: 7.52vw;
        width: 52vw;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
      }

      svg {
        height: 5vw;
        margin-top: 0.2vw;
      }

      &:hover {
        h1 {
          font-family: silk-light;
          line-height: 1;
          width: 55vw;
          font-weight: 100;
          color: transparent;
          -webkit-text-stroke: 0.1vw #fff;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
        }
      }
    }

    .center-div {
      width: 100%;
      height: 30vw;
      display: flex;
      align-items: center;
      margin-top: 6.5vw;
      border-top: 0.1vw solid #fff;
      border-bottom: 0.1vw solid #fff;

      .info {
        height: 100%;
        width: 33.33%;
        padding: 7vw 0;

        h5 {
          font-weight: 900;
          font-size: 1.05vw;
          margin-bottom: 2vw;
        }

        h4 {
          font-size: 1.75vw;
          line-height: 1.8vw;
        }
      }
    }

    p {
      margin-top: 2vw;
      margin-bottom: -2vw;
    }
  }
}

@media (max-width: 600px) {
  .loader {
    padding-top: 80vw;
    padding-left: 5vw;
    // cursor: none;

    .text-line {
      flex-direction: column;
      align-items: start;
      gap: 2vw;

      .loading-counter {
        align-items: first baseline;
        margin: 0;

        h4,
        h5 {
          font-size: 4.5vw;
        }

        h5 {
          margin-left: 4vw;
        }
      }

      h1 {
        font-size: 7.3vw;
      }
    }

    h6 {
      font-size: 3.2vw;
      left: 5%;
      top: 55%;
      font-weight: 100;
      z-index: 9999;
      // opacity: 1;
    }
  }
}

// for iphone se screens
@media (max-width: 375px) {
  .loader {
    h6 {
      top: 65%;
    }
  }
}
